<?xml version="1.0"?>
<config>
    <modules>
        <IntegerNet_SolrNumbers>
            <version>1.0.0</version>
        </IntegerNet_SolrNumbers>
    </modules>
    <global>
        <models>
            <integernet_solr_numbers>
                <class>IntegerNet_SolrNumbers_Model</class>
            </integernet_solr_numbers>
        </models>

        <events>
            <integernet_solr_get_product_data>
                <observers>
                    <integernet_solr_numbers>
                        <type>singleton</type>
                        <class>integernet_solr_numbers/observer_updateProductData</class>
                        <method>execute</method>
                    </integernet_solr_numbers>
                </observers>
            </integernet_solr_get_product_data>
            <integernet_solr_update_query_text>
                <observers>
                    <integernet_solr_numbers>
                        <type>singleton</type>
                        <class>integernet_solr_numbers/observer_updateSearchQuery</class>
                        <method>execute</method>
                    </integernet_solr_numbers>
                </observers>
            </integernet_solr_update_query_text>
        </events>
    </global>
</config>
